<div class="popup popup__passing">
	<div class="popup__wrap">
		<a class="popup__close js-close-popup" href="#"></a>
		<h3 class="title title--popup">Выберите сеть</h3>
		<ul class="popup__list-btn">
			<li class="btn-wrap">
				<a href="./vernii.html" class="btn btn--popup">верный</a>
			</li>
			<li class="btn-wrap">
				<a href="./inter-torg.html" class="btn btn--popup">интер торг</a>
			</li>
			<li class="btn-wrap">
				<a href="./monetka.html" class="btn btn--popup">монетка</a>
			</li>
		</ul>
	</div>
</div>
<div class="popup popup__login">
	<div class="popup__wrap">
		<a class="popup__close js-close-popup" href="#"></a>
		<h3 class="title title--popup">Авторизация</h3>
		<form action="#" class="form form--mt40 form--w240">
			<div class="input-wrap">
				<div class="input-wrap__title">Телефон*</div>
				<div class="input-wrap__inner">
					<input type="tel" name="phone" placeholder="Ваш номер">
				</div>
			</div>
			<div class="input-wrap">
				<div class="input-wrap__title">Пароль*</div>
				<div class="input-wrap__inner">
					<input type="password" name="password">
				</div>
			</div>
			<div class="btn-wrap btn-wrap--mt30">
				<button type="submit" class="btn btn--popup">далее</button>
			</div>
			<ul class="popup__opt popup__opt--mt30">
				<li class="popup__opt-item">
					<a href="#" class="link js-popup-button" data-popupShow="popup__reg1">Регистрация</a>
				</li>
				<li class="popup__opt-item">
					<a href="#" class="link">Забыли пароль?</a>
				</li>
			</ul>
		</form>
	</div>
</div>
<div class="popup popup__reg1">
	<div class="popup__wrap">
		<a class="popup__close js-close-popup" href="#"></a>
		<h3 class="title title--popup">Регистрация</h3>
		<div class="steps">Шаг 1 из 2</div>
		<form action="#" class="form form--mt5 form--w240">
			<div class="input-wrap">
				<div class="input-wrap__title">Имя*</div>
				<div class="input-wrap__inner">
					<input type="text" name="name" placeholder="Ваше имя">
				</div>
			</div>
			<div class="input-wrap">
				<div class="input-wrap__title">Телефон*</div>
				<div class="input-wrap__inner">
					<input type="tel" name="phone" placeholder="Ваш номер">
				</div>
			</div>
			<div class="input-wrap">
				<div class="input-wrap__title">E-mail</div>
				<div class="input-wrap__inner">
					<input type="email" name="email" placeholder="mail@mail.com">
				</div>
			</div>
			<div class="input-wrap">
				<div class="input-wrap__title">Придумайте пароль</div>
				<div class="input-wrap__inner">
					<input type="password" name="password">
				</div>
			</div>
			<div class="input-wrap">
				<div class="input-wrap__title">Повторите пароль</div>
				<div class="input-wrap__inner">
					<input type="password" name="passwordRepeat">
				</div>
			</div>
			<div class="input-wrap">
				<div class="input-wrap__title">Добавьте карту лояльности</div>
				<div class="input-wrap__inner input-wrap__inner--mt15">
					<input id="check-shop1" type="checkbox" class="check-shop">
					<label for="check-shop1" class="label-text label-text--shop">Верный</label>
				</div>
				<div class="input-wrap__inner input-wrap__inner--hiden input-wrap__inner--mt15">
					<input class="card" type="text" placeholder="Номер карты лояльности">
				</div>
			</div>
			<div class="input-wrap">
				<div class="input-wrap__inner input-wrap__inner--mt50">
					<input id="personal" type="checkbox" name="personalAgreement" required>
					<label for="personal" class="label-text">Я подтверждаю, что мне исполнилось 18 лет</label>
				</div>
			</div>
			<div class="input-wrap">
				<div class="input-wrap__inner input-wrap__inner--mt10">
					<input id="rules" type="checkbox" name="rules" required>
					<label for="rules" class="label-text">Я согласен <a href="#">с правилами</a> акции</label>
				</div>
			</div>
			<div class="btn-wrap btn-wrap--mt30">
				<button type="submit" class="btn btn--popup">далее</button>
			</div>
		</form>
	</div>
</div>
<div class="popup popup__reg2">
	<div class="popup__wrap">
		<a class="popup__close js-close-popup" href="#"></a>
		<h3 class="title title--popup">Регистрация</h3>
		<div class="steps">Шаг 2 из 2</div>
		<div class="popup__subtitle">
			<p>Введите код</p>
			<p>из СМС</p>
		</div>
		<form action="#" class="form form--mt5 form--w240">
			<div class="input-wrap">
				<div class="input-wrap__title">Код</div>
				<div class="input-wrap__inner">
					<input type="text" name="code">
				</div>
			</div>
			<div class="btn-wrap btn-wrap--mt50">
				<a href="#" class="btn btn--popup btn--text">Отправить код повторно</a>
			</div>
			<div class="btn-wrap btn-wrap--mt15">
				<button type="submit" class="btn btn--popup">далее</button>
			</div>
		</form>
	</div>
</div>
<div class="popup popup__upload">
	<div class="popup__wrap">
		<a class="popup__close js-close-popup" href="#"></a>
		<h3 class="title title--popup">Загрузка чека</h3>
		<div class="iframe-wrap">
			<iframe src="http://checkservice.emg.ru/Upload?id=07b6cb26-0ee3-4b4c-bd82-1d4b69f674a0&participantId=1&hash=809c1ac09d181f833ee7862d097bff10" class="iframe" frameborder="0"></iframe>
		</div>
	</div>
</div>