html {
	font-size: 14px;
}

body {
	font-size: 14px;
	color: $mainColor;
	font-family: $gothamBol;
}

.height-helper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

%footnote {
	width: 13px;
	height: 13px;
	position: absolute;
	text-align: center;
	border-radius: 50%;
	font-size: .57rem;
	line-height: 1rem;
	font-family: $gothamReg;
	color: $mainColor;
}

.main {
	flex: 1 0 auto;
	background: url("../img/background.png") no-repeat center center;
	background-size: cover;
	overflow: hidden;

	&__passing {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.title--big {
			position: relative;

			&:after {
				content: "1";
				top: 0;
				right: -15px;
				background-color: rgba(#000000,.35);
				@extend %footnote;
			}
		}
	}
}

// Passing page, Main page------------------
.main-section {

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		position: relative;
		height: 0;
		min-height: calc(100vh - 150px);

		&--main {
			flex-direction: row;
			align-items: flex-start;
			min-height: calc(100vh - 350px);

			@include mdNotebook {
				height: auto;
				min-height: auto;
			}
		}

		@include smH {
			height: auto;
			min-height: auto;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__title {

		&--passing {
			padding-top: 85px;

			@include smNotebook {
				padding-top: 50px;
			}
		}

		&--main-store {
			padding-top: 20px;
		}
	}

	&__subtitle {
		margin-top: 50px;
		text-align: center;

		@include md {
			display: none;
		}
	}

	&__logos {
		margin-top: 20px;

		img {
			max-height: 130px;
		}
	}

	&__img {
		position: absolute;
		bottom: -30px;
		left: 0;

		img {
			max-height: 600px;
			max-width: 750px;
			width: 100%;

			@include smNotebook {
				max-height: 495px;
				max-width: 630px;
			}
		}

		&--main {
			align-self: flex-end;
			position: static;
			padding-top: 10px;

			img {
				max-height: 600px;
				max-width: 700px;

				@include smNotebook {
					max-height: 360px !important;
					max-width: 468px !important;
				}

				@include mdNotebook {
					max-height: 475px;
					max-width: 550px;
				}
			}
		}
	}

	&__prize-img {
		position: absolute;
		bottom: -20px;
		right: 0;
		z-index: 2;

		img {
			max-height: 320px;

			@include smNotebook {
				max-height: 165px !important;
			}

			@include mdNotebook {
				max-height: 210px;
			}
		}

		@include sm {
			display: none;
		}
	}
}

.info-section {
	min-height: 400px;
	max-height: 400px;
	background: url("../img/bg-info.png") no-repeat center top;
	background-size: cover;
	background-position-x: 53%;
	margin-bottom: -45px;
	margin-top: -145px;
	position: relative;
	z-index: 1;

	@include smNotebook {
		max-height: 300px;
		min-height: 300px;
		margin-top: -100px;
		background-position-x: 51%;
	}

	&__inner {
		padding-top: 150px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		text-transform: uppercase;

		@include smNotebook {
			padding-top: 120px;
		}
	}

	&__item {
		position: relative;

		&--first {

			.info-section__inner-item {				
				padding-left: 90px;
			
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					background: url("../img/bag.png") no-repeat center center;
					background-size: contain;
					width: 75px;
					height: 130px;
				}
			}

			@include smNotebook {

				.info-section__inner-item {
					padding-left: 85px;

					&:before {
						width: 65px;
						height: 110px;
					}
				}

				.text--17 {
					font-size: 13px;
				}

				.text--23 {
					font-size: 17px;
				}
			}
		}

		&--second {

			@include smNotebook {

				.text--68 {
					font-size: 45px;
				}

				.text--25 {
					font-size: 15px;
				}

				.btn {
					font-size: .7rem;
					max-width: 130px;
				}
			}
		}

		&--third {

			@include smNotebook {

				.text--20 {
					font-size: 11px;
				}

				.text--18 {
					font-size: 13px;
				}

				.text--26 {
					font-size: 17px;
				}
			}
		}

		&:nth-child(n+2) {
			margin-left: 20px;
		}
	}

	&__inner-item {
		position: relative;

		& > div {
		
			&:nth-child(n+2) {
				margin-top: 8px;
			}
		}
	}

	&__text-wrap {
		position: relative;
		padding-left: 70px;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: url("../img/telephone.png") no-repeat center center;
			background-size: contain;
			width: 50px;
			height: 80px;
		}

		@include smNotebook {
			padding-left: 45px;

			&:before {
				width: 35px;
				height: 55px;
			}
		}
	}

	&__date {
		font-size: 15px;
		line-height: 100%;

		@include smNotebook {
			font-size: .78rem;
		}
	}

	&__title {
		font-size: 36px;
		line-height: 100%;

		&--footnote {
			position: relative;

			&:after {
				content: "2";
				top: 0;
				right: -12px;
				@extend %footnote;
				background-color:  rgba(#000000, .35);
			}
		}

		@include smNotebook {
			font-size: 2rem;

			&--min {
				font-size: 1.57rem;
			}
		}
	}

	&__text {
		font-family: $gothamBol;
	}

	&__flex {
		display: flex;
		justify-content: space-between;
	}

	&__text-inner {

		& > div {

			&:nth-child(n+2) {
				margin-top: 5px;
			}
		}
	}
}

.word-footnote {
	position: relative;

	&:after {
		content: "1";
		top: 0;
		right: -20px;
		@extend %footnote;
		background-color:  rgba(#000000, .35);
	}
}

.rules-section {
	background-color: $bgRules;
	padding: 10px 0;
	margin-top: 20px;
	font-family: $gothamLig;
	font-size: .78rem;
	position: relative;
	z-index: 1;

	&__inner {
		counter-reset: num;

		&--passing {
			max-width: 870px;
			width: 100%;
			margin: 0 auto;
			display: block;
		}

		&--main {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				max-width: 370px;
				width: 100%;

				&:nth-child(n+2) {
					max-width: 850px;
					margin-left: 20px;
				}
			}
		}

		p {
			padding-left: 20px;
			position: relative;
			
			&:before {
				counter-increment: num;
				content: counter(num);
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background-color: #1868b4;
				@extend %footnote;
			}
		}
	}
}

// Winners, Profile, FAQ, Products, Feedback---------------------------
.section {
	padding: 30px 0;

	&__winner {
		display: flex;
		flex-direction: column;
	}

	&__winner-table {
		font-size: 25px;
	}

	&__profile {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}

	&__profile-table {
		font-size: 22px;
		background-color: $mainBlock;
		padding: 30px;
		border-radius: 5px;
		flex: 1 1 auto;
	}

	&__profile-table-top {
		display: flex;
		justify-content: space-between;
	}

	&__profile-info {
		flex: 0 1 300px;
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__user-info,
	&__user-prizes {
		padding: 20px;
		border-radius: 5px;
		background-color: $mainBlock;
		height: 0;
		min-height: 300px;
	}

	&__user-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__user-prizes {
		margin-top: 50px;
	}

	&__faq {
		margin-top: 20px;
		font-size: 16px;
		font-family: $gothamReg;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: center;

		.scroll-element.scroll-y {
			display: none;
		}
	}

	&__faq-inner {
		padding-top: 30px;
		flex-basis: 29%;
		
		&:nth-child(n+2) {
			margin-left: 50px;
		}
	}

	&__faq-list {
		margin-top: 1.2em;
	}

	&__faq-item {
		background-color: $mainBlock;
		border-radius: .3em;

		&:nth-child(n+2) {
			margin-top: .6em;
		}
	}

	&__faq-header {
		padding: .9em;
		border-radius: .3em .3em 0 0;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include transitionEase(.3s);

		&.active {
			background-color: $mainBlock;

			.toggle-faq {
				transform: rotate(45deg);
			}
		}
	}

	&__faq-text {
		padding: .9em;
		border-radius: 0 0 .3em .3em;
		display: none;
	}

	&__products {
		margin-top: 50px;
		display: flex;
		align-items: flex-start;
		font-size: 20px;
	}

	&__feedback {
		max-width: 500px;
		width: 100%;
		margin: 50px auto 0;
		padding: 35px;
		border-radius: 10px;
		background-color: $mainBlock;
	}
}

.products-name {
	background-color: $lighterBlock;
	flex: 1 1 20em;
	max-width: 20em;
	border-radius: .5em 0 0;

	&__item {
		display: flex;
		align-items: center;
		cursor: pointer;
		opacity: .5;
		@include transitionEase(.3s);

		&:first-child {
			border-radius: .5em 0 0;
		}

		&:nth-child(n+2) {
			border-top: 1px solid $lighterBlock;
		}

		&:hover {
			background-color: $lighterBlock;
			opacity: 1;
		}

		&.active {
			background-color: $lighterBlock;
			opacity: 1;
		}
	}
	
	&__img {
		padding: 0 .8em;
		flex-shrink: 0;
		max-width: 5em;
		width: 100%;
		text-align: center;

		img {
			max-height: 2.5em;
			max-width: 3.2em;
		}
	}

	&__title {
		text-transform: uppercase;
		padding: 1.2em 1em;
		border-left: 1px solid $lighterBlock;
		font-size: 1em;
		flex-basis: 14em;
	}
}

.products-wrap {
	padding: 1em .5em 1em 1em;
	background-color: $mainBlock;
	flex: 1 1 0%;
	min-width: 44em;
	border-radius: 0 .5em .5em;

	&__inner {
		height: 500px;
		-webkit-overflow-scrolling: touch;
	}

	&__list {
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-right: 1.5em;

		&.active {
			display: flex;
		}
	}

	&__item {
		background-color: $lighterBlock;
		margin-bottom: 1.5em;
		padding: .75em;
		border-radius: .2em;
		flex: 1 1 13em;
		max-width: 13em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 0;
		min-height: 9.5em;

		&--empty {
			background-color: rgba(0, 0, 0, 0);
			margin-bottom: 0 !important;
			padding: 0 !important;
			min-height: 0;
		}
	}

	&__descr {
		display: flex;
	}

	&__img {

		img {
			max-width: 5em;
			max-height: 6em;
		}
	}

	&__text {
		margin-left: .75em;
	}

	&__weight {
		margin-top: .5em;
		font-size: 1.1em;
		align-self: flex-end;
	}
}

.toggle-faq {
	flex-shrink: 0;
	width: 16px;
    height: 16px;
	position: relative;
	margin-left: 10px;
	@include transitionEase(.3s);

	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 2px;
		background-color: $mainColor;
	}

	&:after {
		top: 50%;
		bottom: auto;
		left: 0;
		transform: translate(0, -50%);
		width: 100%;
		height: 2px;
	}
}

.winner-table {
	background-color: $mainBlock;
	border-radius: .2em 0 .2em .2em;

	width: 100%;

	&__header {
		background-color: $mainBlock;
		width: 100%;
		border-radius: .2em 0 0 0;
	}

	&__th {
		color: $titleColor;
		font-size: 1.3em;
		line-height: 100%;
		padding: 0.6em 0;
		text-align: center;

		&--prize {
			padding-left: 1.3em;
			text-align: left;
			width: 330px;

			@include md {
				width: 39%;
			}
		}

		&--date {
			text-align: left;

			@include md {
				width: 30%;
				text-align: center;
			}
		}

		&--mob {
			display: none;

			@include md {
				display: table-cell;
				width: 30%;
				padding-right: 1em;
			}
		}

		&--desk {

			@include md {
				display: none;
			}
		}
	}

	&__main-wrap {
		height: 500px;
		margin: 15px 0;
		-webkit-overflow-scrolling: touch;
	}

	&__main {
		width: 100%;

		tr {

			&:nth-child(n+2) {

				@include md {

					td {
						padding-top: 5.5em;
					}
				}
			}
		}

		td {
			font-size: 1em;
			padding-top: 3em;
			vertical-align: top;
			font-family: $gothamReg;
		}
	}

	&__td-title {
		padding-left: 1.3em;
	    width: 330px;
	}

	&__title {
		position: relative;

		&:before {
			content: attr(data-title);
			position: absolute;
			top: -1.6em;
			left: 0;
			color: $titleColor;
			font-size: 1em;
			white-space: pre;
		}
	}

	&__td-name {
		padding-left: 2em;
	}

	&__list {

		li {
			line-height: 100%;

			&:nth-child(n+2) {
				margin-top: 20px;

				@include md {
					margin-top: 3em;
				}
			}
		}

		&--name {

			li {
				position: relative;

				@include md {

					&:after {
						content: attr(data-phone);
						position: absolute;
						bottom: -1.5em;
						left: 0;
						color: $mainColor;
						font-size: 1em;
						white-space: pre;
					}
				}
			}
		}
	}

	&__td-phone {

		@include md {
			display: none;
		}
	}

	&__td-date {
		padding-right: 20px;
	}
}

.search-wrap {
	background-color: $mainBlock;
	display: flex;
	max-width: 350px;
	width: 100%;
	border-radius: 7px 7px 0 0;
	align-self: flex-end;
	font-size: 23px;

	&__icon {
		padding: .5em 0 .5em .43em;
		background-color: rgba(#000000, 0);

		.icon-search {
			font-size: 1em;
			line-height: 100%;
		}
	}

	&__input {
		padding: .5em .43em;
		background-color: rgba(#000000, 0);
		font-size: 1em;
		line-height: 100%;
		color: $mainColor;

		&::placeholder {
			color: #c9c9c9;
		}
	}
}

.profile-table {
	margin-top: 2.7em;
	height: 500px;
	-webkit-overflow-scrolling: touch;

	&__table {
		font-family: $gothamReg;
		width: 100%;

		th {
			font-size: 1em;
			color: $titleColor;
			padding-bottom: 1.36em;
			line-height: 100%;
			text-align: left;
		}
	}

	&__row {

		&:nth-child(n+2) {

			td {
				padding-top: 2em;
			}
		}
	}
}

.prizes {
	margin-top: 35px;

	&__item {
		display: flex;
		align-items: center;

		&:nth-child(n+2) {
			margin-top: 10px;
		}
	}

	&__img {
		flex-shrink: 0;
		position: relative;

		img {
			max-height: 50px;
		}
	}

	&__quan {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -15px;
		right: -10px;
		border-radius: 50%;
		width: 18px;
		height: 18px;
		font-size: 10px;
		line-height: 100%;
		color: #c41430;
		background-color: $mainColor;
	}

	&__text {
		max-width: 175px;
		width: 100%;
		font-size: 15px;
		font-family: $gothamReg;
		margin-left: 20px;
	}
}


