// Btn-----------------
.btn-wrap {
	text-align: center;
	position: relative;

	&--biggest {
		margin-top: 50px;
		align-self: center;
		z-index: 1;
	}

	&--right {
		text-align: right;
	}

	&--left {
		text-align: left;
	}

	&--mt30 {
		margin-top: 30px;
	}

	&--mt15 {
		margin-top: 15px;
	}

	&--mt50 {
		margin-top: 50px;
	}
}

.btn {
	color: $mainColor;
	text-transform: uppercase;
	display: inline-block;
	max-width: 240px;
	width: 100%;
	background-color: $btnColor;
	border-bottom: 4px solid $btnBorder;
	box-shadow: $btnShadow;
	padding: 15px 5px;
	font-size: 1.2rem;
	@include transitionEaseInOut(.5s);

	&:hover {
		background-color: $btnHover;
	}

	&--biggest {
		font-size: 1.78rem;
		max-width: none;
		min-width: 380px;
		padding: 20px 5px;
		border-bottom: 6px solid $btnBorder;
	}

	&--header {
		padding: 6px 15px 6px 40px;
		max-width: none;
		width: auto;
		box-shadow: none;
		background-color: $btnHeader;
		border-bottom: none;
		font-family: $gothamReg;
		font-size: 1.42rem;
		border-radius: 1.28rem;
		line-height: 100%;
		position: relative;

		&:hover {
			background-color: $btnHeader;
		}

		@include md {
			font-size: 1.14rem;
			padding: 5px 10px 5px 30px;
		}
	}

	&--min {
		padding: 10px 20px;
		font-size: 1rem;
		max-width: 200px;
		text-align: center;
	}

	&--text {
		text-transform: none;
		font-size: 15px;
	}

	&--download {
		max-width: none;
		padding: .68em 1.8em;
		font-size: 1em;
		border-bottom: .18em solid $btnBorder;
	}

	&--card {
		max-width: none;
		max-height: 24px;
		height: 100%;
		margin-left: 20px;
		position: relative;
		flex: 1 0 35px;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(40deg);
			width: 8px;
			height: 12px;
			border: {
				bottom: 3px solid $mainColor;
				right: 3px solid $mainColor;
			}
		}

		@include sm {
			margin-left: 10px;
		}
	}

	&__circle {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $lighterBlock;

		@include md {
			width: 24px;
			height: 24px;
		}

		%circle {
			width: 4px;
			height: 4px;
			background-color: $mainColor;
			border-radius: 50%;
		}

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@extend %circle;

			&:before,
			&:after {			
				content: "";
				@extend %circle;
				position: absolute;
				top: -6px;
				left: 0;
			}

			&:after {
				top: 6px;
			}
		}
	}

	&__name {
		white-space: pre;
	}
}

// Title----------------
.title {
	color: $titleColor;
	text-transform: uppercase;
	font-family: $gothamBla;

	&--biggest {
		font-size: 5rem;
	}

	&--big {
		font-size: 4.28rem;
	}

	&--popup {
		text-transform: none;
		font-size: 2.57rem;
		font-family: $gothamReg;
		color: $mainColor;
		text-align: center;
	}

	&--main {
		font-size: 6rem;
		line-height: 5rem;
		
		span {
			display: block;
		}

		@include smNotebook {
			font-size: 4.35rem;
			line-height: 4rem;
		}
	}

	&--section {
		font-size: 50px;
		font-family: $gothamBla; 
		line-height: 100%;

		@include md {
			text-align: center;
		}
	}

	&--table {
		color: $mainColor;
		font-size: 2em;
		line-height: 100%;
	}

	&--name {
		font-size: 28px;
		text-transform: none;
	}

	&--prize {
		font-size: 26px;
		text-transform: none;
	}

	&--faq {
		color: $mainColor;
		text-transform: none;
		font-size: 1.7em;
		font-family: $gothamBol;
		text-align: center;

		@include lg {
			font-size: 1.4em;
		}
	}

	&--product {
		font-family: $gothamBol;
	}
}

// Text----------------
.text {
	text-transform: uppercase;
	font-family: $gothamBla;

	&--biggest {
		letter-spacing: .9px;
		font-size: 2.35rem;
		margin-top: 12px;
		text-align: right;

		p {
			line-height: 100%;

			&:nth-child(n+2) {
				font-size: 2.14rem;
				margin-top: 10px;
			}
		}
	}

	&--main {
		letter-spacing: .6px;
		font-size: 2rem;
		margin-top: 12px;
		text-align: right;

		p {
			line-height: 100%;

			&:nth-child(n+2) {
				font-size: 1.8rem;
				margin-top: 10px;
			}
		}

		@include smNotebook {
			font-size:  1.42rem;

				p {

					&:nth-child(n+2) {
						font-size: 1.28rem;
					}
				}	
		}
	}

	&--yellow {
		color: $textColor;
	}

	&--8 {
		font-size: .4em;
	}

	&--11 {
		font-size: 11px;
	}

	&--13 {
		font-size: 13px;
	}	

	&--17 {
		font-size: 17px;
	}

	&--18 {
		font-size: 18px;
	}

	&--20 {
		font-size: 20px;
	}

	&--23 {
		font-size: 23px;
	}

	&--25 {
		font-size: 25px;
	}

	&--26 {
		font-size: 26px;
	}

	&--68 {
		font-size: 68px;
		line-height: 100%;
	}

	&--unset {
		text-transform: none;
		font-family: $gothamReg;
		font-size: 15px;
		margin-top: 10px;
	}

	&--product {
		font-family: $gothamBol;
		max-width: 150px;
		width: 100%;
		margin-top: .75em;
		line-height: 1.5em;

		@include lg {
			font-size: .45em;
		}
	}
}

// Popup-----------------
.noscroll {
    position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}

.blur {
	filter: blur(8px);
}

%close {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	background-color: $mainColor;
	transform: translateY(-50%) rotate(45deg);
}

.popup {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
	right: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	background-color: $popupsBg;
	transition: opacity .3s 0s, visibility 0s .3s;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	&.js-popup-show {
        opacity: 1;
		visibility: visible;
        transition: opacity .3s 0s, visibility 0s 0s;

        .popup__wrap {
            transform: translateY(0);
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;

		&:before,
		&:after {
			@extend %close;
		}

		&:after {
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	&__wrap {
		transform: translateY(-10%);
		position: relative;
		max-width: 350px;
		width: 100%;
		transition-duration: .3s;
		margin: 40px auto;
		padding: 45px 20px;
	}

	&__list-btn {
		margin-top: 45px;

		.btn-wrap {

			&:nth-child(n+2) {
				margin-top: 25px;
			}
		}
	}

	&__opt {
		display: flex;
		justify-content: space-between;

		&--mt30 {
			margin-top: 30px;
		}
	}

	&__opt-item {

		&:nth-child(n+2) {
			margin-left: 10px;
		}
	}

	&__subtitle {
		text-align: center;
		margin-top: 15px;
		font-size: 1.7rem;
		font-family: $gothamReg;
		color: $titleColor;
	}
}

.link {
	color: $textColor;
	text-decoration: underline;
	font-family: $gothamReg;
	line-height: 100%;
}

.steps {
	font-family: $gothamReg;
	line-height: 100%;
	color: rgba($mainColor, .5);
	text-align: center;
	margin-top: 20px;
}

// Forms----------------
.form {

	&--w240 {
		max-width: 240px;
		width: 100%;
		margin: 0 auto;
	}

	&--mt40 {
		margin-top: 40px;
	}

	&--mt5 {
		margin-top: 5px;
	}
}

.input-wrap {

	&:nth-child(n+2) {
		margin-top: 15px;
	}

	&__title {
		font-family: $gothamReg;
		line-height: 100%;

		&--profile {
			color: $titleColor;
		}
	}

	&__inner {
		margin-top: 8px;

		&--hiden {
			display: none;
		}

		&--mt10 {
			margin-top: 10px;
		}

		&--mt15 {
			margin-top: 15px;
		}

		&--mt50 {
			margin-top: 50px;
		}
	}

	&__double-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		label.error {
			position: absolute;
			bottom: -15px;
			left: 0;
		}

		.card {
			max-width: 210px;
			width: 100%;
		}
	}
}

input[type="checkbox"] {
	display: none;

	&:checked ~ .label-text {

		&:after {
			opacity: 1;
		}
	}
}

.label-text {
	font-family: $gothamReg;
	cursor: pointer;
	padding-left: 32px;
	position: relative;
	display: inline-block;

	a {
		text-decoration: underline;
	}

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		background-color: $mainColor;
		@include transitionEase(.2s);
	}

	&:after {
		content: "";
		position: absolute;
		top: 8px;
		left: 6px;
		width: 9px;
		height: 12px;
		border: {
			bottom: 3px solid $bgChecked2;
			right: 3px solid $bgChecked2;
		}
		transform: rotate(40deg);
		opacity: 0;
		@include transitionEase(.2s);
	}

	&:hover {

		&:after {
			will-change: opacity;
		}
	}

	&--shop {
		
		&:before {
			width: 22px;
			height: 22px;
			border-radius: 50%;
		}

		&:after {
			width: 12px;
			height: 18px;
			border: {
				bottom: 4px solid $bgChecked1;
				right: 4px solid $bgChecked1;
			}
			top: -5px;
			left: 8px;
		}
	}
}

input,
textarea {
	width: 100%;
	background-color: $mainColor;
	border: none;
	line-height: 100%;
	padding: 12px 15px;
	font-family: $gothamReg;
	@include transitionEase(.2s);
}

textarea {
	min-height: 200px;
}

::placeholder,
:-ms-input-placeholder,
::-moz-placeholder {
	color: $colorPlaceholder;
}

// Select ------------
body > .select2-container {
    width: auto !important;
    transition: none;
}

.select2-container {
    width: 100% !important;
    outline: none;

    & * {
        outline: none;
    }

    .select2-selection {
		border: none;
		font-family: $gothamReg;
		height: auto;
		
		.select2-selection__arrow b {
			border-color: #000 transparent transparent;
		}
	}
	
	&.select2-container--open {
		
		.select2-selection--single {

			.select2-selection__arrow b {
				border-color: transparent transparent #000;
			}
		}
	}

    .select2-selection--single .select2-selection__rendered {
		line-height: 100%;
		color: #000000;
		background-color: $mainColor;
		padding: 12px 15px;
    }

    .select2-selection__arrow {
        height: 100% !important;
        width: 38px !important;
    }

    .select2-dropdown {
        border-top: none;
		transition: none;
		z-index: 1;
    }
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: $colorPlaceholder;
}

.select2-dropdown {
	border-radius: 0;
	font-family: $gothamReg;
}

.select2-container--default .select2-selection--single {
	border-radius: 0;
}

.select2-results__option[aria-selected] {
	color: $colorPlaceholder;
}

.select2-results__options {
	-webkit-overflow-scrolling: touch;
}

.select2-results__option {
	padding: 6px 15px;
}

// Error Validate----------------
label.error {
	display: block;
	color: $errorColor;
	font-family: $gothamReg;
	font-size: 12px;
	line-height: 100%;
	margin-top: 5px;
}

input.error {
	background-color: $errorBg;

	& ~ .label-text:before {
		background-color: $errorBg;
	}
}

textarea.error {
	background-color: $errorBg;
}

select.error {

	& ~ .select2 {

		.select2-selection__rendered {
			background-color: $errorBg;
		}
	}
}

/*SCROLL ---------------------- */
body .scroll-element,
body .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
}

body .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body .scroll-element.scroll-x {
    bottom: 1px;
    height: 8px;
    left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity .3s ease;
}

body .scroll-element.scroll-x .scroll-element_track {
	top: 3px;
    width: 100%;
    height: 2px;
}

body .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

body .scroll-element .scroll-element_outer {
    overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
    border-radius: 8px;
}

body .scroll-element .scroll-element_track {
	background-color: rgba(#ffffff, .4);
	left: -6px;
    width: 14px;
}

body .scroll-element .scroll-bar {
	width: 6px;
	background-color: $mainColor;
	left: -2px;
	position: relative;
}

body .scroll-element:hover .scroll-bar {
    background-color: $mainColor;
}

body .scroll-element.scroll-draggable .scroll-bar {
    background-color: $mainColor;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

// IFRAME--------------
.js-popup-show {

	.iframe-wrap {
		display: block;
	}
}

.iframe-wrap {
	display: none;
}

.iframe {
	width: 100%;
	min-height: 600px;
	-webkit-overflow-scrolling: touch;
}
