.footer {
	font-family: $gothamReg;
	color: $footerColor;
	flex-shrink: 0;
	background-color: $mainColor;
	padding: 20px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {

		&:last-child {
			margin-left: 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__logo {

		img {
			max-height: 45px;
		}
	}

	&__copyright {
		margin-top: 10px;
		font-size: .85rem;

		&--notebook {

			@include smNotebook {
				font-size: .5rem;
			}
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		align-self: flex-end;
		font-size:  1.7rem;

		.icon-phone {
			display: none;
			margin-right: 10px;
		}

		&--notebook {

			@include smNotebook {
				font-size: 1.3rem;	
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $footerColor;
		font-size: 1.1rem;

		li {

			&:nth-child(n+2) {
				margin-left: 25px;
			}
		}

		&--notebook {
			
			@include smNotebook {
				font-size: 1rem;		
			}
		}
	}
}