// MAX-WIDTH --------------------
@media (max-width: 1280px) {
    .container {
		max-width: 1025px;
	}

	// Header-------------------
	.header {

		&__nav {
			flex-grow: 1;
		}
	}

	// Passing page, Main page------------------
	.main-section {

		&__img {

			img {
				max-height: 495px;
				max-width: 630px;
			}
			
			&--main {

				img {
					max-height: 425px;
					max-width: 540px;
				}
			}
		}

		&__prize-img {
			bottom: 0;
			right: 50px;

			img {
				max-height: 210px;
			}
		}
	}

	.info-section {
		max-height: 300px;
		min-height: 300px;
		margin-top: -100px;
		background-position-x: 51%;

		&__inner {
			padding-top: 120px;
		}

		&__item {

			&--first {

				.info-section__inner-item {
					padding-left: 85px;

					&:before {
						width: 65px;
						height: 110px;
					}
				}

				.text--17 {
					font-size: 13px;
				}

				.text--23 {
					font-size: 17px;
				}
			}

			&--second {

				.text--68 {
					font-size: 45px;
				}

				.text--25 {
					font-size: 15px;
				}

				.btn {
					font-size: .7rem;
					max-width: 130px;
				}
			}

			&--third {

				.text--20 {
					font-size: 11px;
				}

				.text--18 {
					font-size: 13px;
				}

				.text--26 {
					font-size: 17px;
				}
			}
		}

		&__text-wrap {
			padding-left: 45px;

			&:before {
				width: 35px;
				height: 55px;
			}
		}
		
		&__date {
			font-size: .78rem;
		}

		&__title {
			font-size: 2rem;

			&--min {
				font-size: 1.57rem;
			}
		}
	}

	.rules-section {
		font-size: .7rem;

		&__inner {

			&--main {

				p {
					max-width: 300px;
				}
			}
		}
	}

	// Title----------------
	.title {

		&--main {
			font-size: 4.35rem;
			line-height: 4rem;
		}
	}

	// Text----------------
	.text {

		&--main {
			font-size:  1.42rem;

			p {
	
				&:nth-child(n+2) {
					font-size: 1.28rem;
				}
			}
		}
	}

	// Winners, Profile, FAQ, Products---------------------------
	.section {

		&__winner-table {
			font-size: 20px;
		}

		&__profile-table {
			font-size: 18px;
			padding: 20px;
		}

		&__faq {
			font-size: 15px;
		}

		&__products {
			margin-top: 30px;
			font-size: 15px;
		}
	}

	// Footer-------------------------------
	.footer {

		&__copyright {
			font-size: .5rem;
		}

		&__contacts {
			font-size: 1.3rem;
		}

		&__info {
			font-size: 1rem;
		}
	}
}

@media (max-width: 992px) {
	// Header-------------------
	body {

		&:after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
			background-color: $mainBlock;
			opacity: 0;
			visibility: hidden;
			transition: opacity .3s 0s, visibility 0s .3s;
		}

		&.open-menu {

			&:after {
				opacity: 1;
				visibility: visible;
				transition: opacity .3s 0s, visibility 0s 0s;
			}
		}
	}
	
	.header {

		.btn-wrap {
			flex-grow: 1;
		}

		&__nav {
			position: absolute;
			z-index: 10;
			top: 0;
			left: -25px;
			background-color: $mainColor;
			height: 0;
			min-height: 460px;
			flex-direction: column;
			flex-grow: 0;
			max-width: 200px;
			width: 100%;
			padding: 15px;
			transform: translateX(-100%);
			@include transitionEase(.3s);

			&.active {
				transform: translateX(0);
			}

			.login,
			.logout,
			.profile {
				text-align: left;
				position: relative;

				.login__text,
				.logout__text,
				.profile__text {
					color: $activeColorMob;
					padding-left: 35px; 
				}

				.icon {
					top: 50%;
					transform: translateY(-50%);

					&:before {
						color: $activeColorMob;
					}
				}

				&:hover {

					.icon:before,
					.login__text,
					.logout__text {
						color: $activeColorMob;
					}
				}
			}

			.logout {
				margin-top: 20px;
			}

			.icon {
				margin-bottom: 0;
				position: absolute;
				top: -5px;
				left: 0;

				&:before {
					color: $colorMenuMob;
				}
			}
		}

		&__login-mob {
			display: block;
		}

		&__nav-list {
			display: block;
			flex-grow: 1;
			margin-top: 20px;
		}	

		&__item {
			color: $colorMenuMob;
			display: flex;
			align-items: center;
			font-size: 0.57rem;
			font-family: $gothamReg;
			letter-spacing: .24px;
			padding: 0 0 10px 35px;
			border-bottom: 1px solid $colorMenuMob;
			position: relative;

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 10px;
			}

			&:hover {

				.icon:before,
				.header__item-text {
					color: $activeColorMob;
				}
			}

			&--active {

				.icon:before,
				.header__item-text {
					color: $activeColorMob;
				}
			}
		}

		&__login {

			.login {
				font-size: .7rem;
			}

			.icon {
				font-size: 1rem;
				margin-bottom: 5px;
			}

			.logout {
				display: none;
			}
		}
	}

	// Passing-------------------
	.main-section {

		&__inner {
			align-items: flex-start;

			&--main {
				flex-direction: column;
				height: auto;
				min-height: auto;
				align-items: flex-end;
			}

			.title--biggest {
				line-height: 4.12rem;

				span {
					display: block;
				}
			}

			.text--biggest {
				font-size: 1.6rem;
				text-align: left;

				p {

					&:nth-child(n+2) {
						font-size: 1.5rem;
					}
				}
			}

			.title--main {
				font-size: 6.1rem;
				line-height: 5.12rem;
			}

			.text--main {
				font-size: 1.9rem;
				text-align: left;

				p {

					&:nth-child(n+2) {
						font-size: 1.7rem;
					}
				}
			}

			.btn-wrap--biggest {
				position: absolute;
				bottom: -20px;
				left: -20px;
				right: -20px;

				.btn {
					padding: 15px 5px;
					font-size: 1.28rem;
				}
			}
		}

		&__img {
			position: relative;
			width: 100%;
			margin-top: 20px;

			&--main {
				order: 1;
				margin-top: 0;
				padding-top: 0;
			}
		}

		&__title {

			&--passing {
				padding-top: 50px;
			}
		}

		&__prize-img {
			right: 0;
			bottom: -35px;

			img {
				max-height: 165px;
			}
		}
	}

	.info-section {
		background-position-x: 50.5%;
		margin-bottom: -65px;
		margin-top: -75px;

		&__item {

			&--first {

				.info-section__inner-item {
					padding-left: 65px;

					&:before {
						width: 55px;
						height: 90px;
					}
				}

				.text--17 {
					font-size: .78rem;
				}

				.text--23 {
					font-size: 1rem;
				}
			}

			&--second {

				.text--68 {
					font-size: 2.78rem;
				}

				.text--25 {
					font-size: .92rem;
				}

				.btn {
					padding: 5px 15px;
					max-width: 115px;
				}
			}
	
			&--third {
				
				.text--20 {
					font-size: 10px;
				}

				.text--18 {
					font-size: 8px;
				}

				.text--26 {
					font-size: 11px;
				}
			}
		}

		&__text-wrap {
			padding-left: 40px;

			&:before {
				width: 28px;
				height: 48px;
			}
		}

		&__date {
			font-size: .7rem;
		}

		&__title {
			font-size:  1.7rem;

			&--min {
				font-size:  1.4rem;
			}

			&--footnote {

				&:after {
					right: -8px;
				}
			}
		}

		&__flex {

			.info-section__text-inner {

				&:nth-child(n+2) {
					margin-left: 15px;
				}
			}
		}
	}

	// Winners, Profile, FAQ, Products---------------------------
	.section {

		&__winner-table {
			font-size: 18px;
		}

		&__winner {
			margin-top: 20px;
		}

		&__profile {
			display: block;
			margin-top: 30px;
		}

		&__profile-info {
			margin-left: 0;
			margin-top: 30px;
			flex-direction: row;
		}

		&__user-info,
		&__user-prizes {
			flex-basis: 300px;
		}

		&__user-prizes {
			margin-top: 0;
			margin-left: 15px;
		}

		&__faq {
			font-size: 16px;
			display: block;
			height: 570px;
			margin-top: 0;
			-webkit-overflow-scrolling: touch;

			.scroll-element.scroll-y {
				display: block;
			}
		}

		&__faq-inner {
			padding-right: 20px;

			&:nth-child(n+2) {
				margin-left: 0;
			}
		}

		&__products {
			display: block;
			font-size: 30px;
			max-width: 600px;
			width: 100%;
			margin: 30px auto 0;
		}
	}

	.products-name {
		max-width: none;
		border-radius: .33em .33em 0 0;
		display: flex;

		&__item {
			flex: 1 1 100%;
			justify-content: center;

			&:last-child {
				border-radius: 0 .33em 0 0;
			}

			&:nth-child(n+2) {
				border-top: none;
				border-left: 1px solid $lighterBlock;
			}
		}

		&__img {
			padding: .6em;
		}

		&__title {
			display: none;
		}
	}

	.products-wrap {
		min-width: auto;
		border-radius: 0 0 .33em .33em;

		&__list {
			justify-content: center;
			padding-right: .7em;
		}

		&__item {
			flex: 1 1 15em;
			max-width: 15em;
		}

		.text--product {
			max-width: 280px;

		}
	}
   
	.winner-table {
		border-radius: 0 0 .2em .2em;

		&__header {
			border-radius: none;
		}

		&__td-name {
			width: 30%;
		}

		&__td-date {
			width: 30%;
			text-align: center;
		}
	}

	.search-wrap {
		max-width: none;
	}

	.profile-table {
		height: 300px;
	}

	// Footer--------------------
	.footer {

		&__logo {

			img {
				max-height: 30px;
			}
		}

		&__content {

			&:last-child {
				margin-left: 15px;
			}
		}

		&__contacts {
			font-size: 1rem;

			.icon-phone {
				display: inline-block;
				font-size: 1.4rem;
			}
		}

		&__info {
			font-size: .7rem;
		}
	}
}

@media (max-width: 767px) {
	// Passing-------------------
	.main-section {

		&__inner {
			align-items: center;

			.title--biggest {
				font-size: 3.7rem;
				line-height: 3rem;
			}

			.text--biggest {
				font-size: 1.1rem;
				margin-top: 10px;

				p {

					&:nth-child(n+2) {
						font-size: 1rem;
						margin-top: 5px;
					}
				}
			}

			.btn-wrap--biggest {
				position: relative;
				bottom: auto;
				left: auto;
				right: auto;
				margin-top: 25px;
				flex-grow: 1;

				.btn {
					padding: 15px 5px;
					font-size: 1.28rem;
					min-width: 235px;
				}
			}
		}

		&__img {
			margin-top: 0;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			height: 0;
			min-height: calc(79vw - 40px);

			img {
				flex-shrink: 0;
			}
		}

		&__title {

			&--passing {
				padding-top: 30px;
			}
		}
	}

	.info-section {
		max-height: none;
		min-height: auto;
		background: none;
		margin-bottom: -25px;
		margin-top: 0;

		&__inner {
			padding-top: 0;
			flex-direction: column;
			align-items: center;
			margin: 0 -20px;
		}

		&__item {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;

			&:nth-child(n+2) {
				margin-left: 0;
			}

			&:nth-child(odd) {
				padding-bottom: 25px;
				clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
			}

			&--first {
				background: $bgInfo1;
				padding-top: 45px;

				.info-section__inner-item {
					padding-left: 100px;
			
					&:before {
						width: 75px;
						height: 135px;
					}
				}

				.text--17 {
					font-size: 14px;
				}

				.text--23 {
					font-size: 20px;
				}
			}

			&--second {
				background: $bgInfo2;
				padding-top: 25px;
				padding-bottom: 30px;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					bottom: -50px;
					left: 0;
					right: 0;
					background: $bgInfo2;
				}

				.text--68 {
					font-size: 69px;
				}

				.text--25 {
					font-size: 25px;
				}

				.btn-wrap {
					text-align: center;
				}

				.btn {
					max-width: 265px;
					padding: 10px 50px;
					font-size: 19px;
				}
			}

			&--third {
				background: $bgInfo3;
				padding-top: 60px;

				.text--20,
				.text--18 {
					font-size: 20px;
				}

				.text--26 {
					font-size: 26px;
				}
			}
		}

		&__inner-item {
			max-width: 280px;
			width: 100%;
			margin: 0 auto;
		}

		&__date {
			font-size: 0.85rem;
		}

		&__title {
			font-size: 2.28rem;

			&--min {
				font-size: 2.28rem;
			}

			&--footnote {
				
				&:after {
					right: auto;
					left: -15px;
				}
			}
		}

		&__text-wrap {
			padding-left: 65px;

			&:before {
				width: 50px;
				height: 85px;
			}
		}

		&__flex {
			display: block;

			.info-section__text-inner {

				&:nth-child(n+2) {
					margin-left: 0;
					margin-top: 8px;
				}
			}
		}
	}

	.rules-section {

		&__inner--main {
			display: block;

			p {
				max-width: none;
				font-size: 12px;

				&:nth-child(n+2) {
					margin-left: 0;
					margin-top: 15px;
					max-width: none;
				}
			}
		}
	}

	// Winners, Profile, FAQ, Products, Feedback---------------------------
	.section {

		&__winner-table {
			font-size: 14px;
		}

		&__profile-table {
			font-size: 14px;
    		padding: 10px;
		}

		&__profile-info {
			margin-top: 15px;
		}

		&__user-info,
		&__user-prizes {
			padding: 20px 10px;
		}

		&__faq {
			font-size: 14px;
		}

		&__feedback {
			margin-top: 30px;
			padding: 15px;

			.btn-wrap {
				text-align: center;
			}
		}
	}

	.products-name {
		font-size: 20px;
	}

	.title {

		&--section {
			font-size: 28px;
		}

		&--name {
			font-size: 25px;
		}

		&--prize {
			font-size: 22px;
		}
	}
   
	.winner-table {

		&__th {
			width: 33%;

			&--prize {
				padding-left: 1em;
			}

			&--mob {
				padding-left: 2em;
			}

			&--date {
				padding-right: 1em;
			}
		}

		&__td-title {
			width: 33%;
			padding-left: 1em;
		}

		&__td-name {
			width: 33%;
			text-align: center;
		}

		&__td-date {
			width: 33%;
			text-align: center;
		}

		&__list {

			&--name {

				li {

					&:after {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}

	.search-wrap {
		font-size: 20px;
	}

	// Footer--------------------
	.footer {
		padding: 10px 0 20px;

		&__inner {
			flex-direction: column;
		}

		&__content {
			text-align: center;

			&:first-child {
				
				&:before {
					content: "";
					border-top: 1px solid rgba(71, 35, 128, .5);
					margin: 0 -20px;
					display: block;
				}
			}

			&:last-child {
				margin-left: 0;
				order: -1;
				align-items: center;
				padding-bottom: 15px;
			}
		}

		&__logo {
			margin-top: 15px;

			img {
				max-height: 45px;
			}
		}

		&__copyright {
			font-size: .7rem;
		}

		&__contacts {
			order: 1;
			align-self: center;
			margin-top: 15px;
			font-size: 1.1rem;

			.icon-phone {
				font-size: 1.7rem;
			}
		}

		&__info {
			border-bottom: none;
			font-size: .78rem;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;

			li {
				margin-top: 10px;

				&:nth-child(n+2) {
					margin-left: 15px;
				}
			}

			a {
				text-decoration: underline;
			}
		}
	}

}

@media (max-width: 480px) {
	
	// Btn----------------
	.btn {

		&--popup {
			max-width: 230px;
			padding: 10px 5px;
		}
	}

	// Title----------------
	.title {

		&--popup {
			font-size: 2.1rem;
		}

		&--name,
		&--prize {
			font-size: 16px;
		}
	}

	// Winners, Profile, FAQ, Products---------------------------
	.section {

		&__winner-table {
			font-size: 10px;
		}

		&__profile-table {
			font-size: 8px;
		}

		&__user-info,
		&__user-prizes {
			flex-basis: 50%;
			min-height: 200px;
		}

		&__faq {
			font-size: 12px;
		}

		&__products {
			font-size: 20px;
		}
	}

	.products-name {
		font-size: 12px;
	}

	.products-wrap {
		padding: .5em .2em .5em .5em;

		&__img {
			flex-shrink: 0;
		}
	}

	.winner-table {

		&__main-wrap {
			height: 350px;
		}
	}

	.search-wrap {
		font-size: 16px;
	}

	.profile-table {
		height: 160px;
	}

	.text--unset {
		font-size: 10px;
		margin-top: 5px;
	}

	.input-wrap__title--profile {
		font-size: 10px;
	}

	.input-wrap__double-inner {

		label.error {
			bottom: -12px;
			font-size: 8px;
		}
	}

	.prizes {
		margin-top: 20px;

		&__img {

			img {
				max-height: 30px;
			}
		}

		&__quan {
			width: 10px;
			height: 10px;
			font-size: 6px;
			top: -10px;
		}

		&__text {
			font-size: 10px;
			margin-left: 15px;
		}
	}

	// Popup-----------------
	.popup {

		&__close {
			right: 25px;
		}
	}

}


// MIN-WIDTH --------------------
@media (min-width: 479px) {
    
}

@media (min-width: 767px) {
    
}

@media (min-width: 991px) {
    
}

@media (min-width: 1999px) {
    
}