@mixin transitionEase($time) {
	transition: all $time ease;
}

@mixin transitionEaseInOut($time) {
	transition: background-color $time ease-in-out;
}

@mixin transitionLinear($time) {
	transition: all $time linear;
}

@mixin xs { @media screen and (max-width: #{$screen-xs-max}) {@content;} }
@mixin sm { @media screen and (max-width: #{$screen-sm-max}) {@content;} }
@mixin md { @media screen and (max-width: #{$screen-md-max}) {@content;} }
@mixin lg { @media screen and (max-width: #{$screen-lg-max}) {@content;} }
@mixin smH { @media screen and (max-height: #{$screenH-sm-max}) {@content;} }
@mixin smNotebook { @media screen and (max-height: #{$screenForNotebook-sm-max}) and (min-width: #{$screen-md-min}) {@content;} }
@mixin mdNotebook { @media screen and (max-height: #{$screenForNotebook-md-max}) and (min-width: #{$screen-lg-min}) {@content;} }