// Fonts
$gothamReg: 'GothamPro', sans-serif;
$gothamLig: 'GothamPro-Light', sans-serif;
$gothamBol: 'GothamPro-Bold', sans-serif;
$gothamBla: 'GothamPro-Black', sans-serif;

// Colors text
$mainColor: #ffffff;
$titleColor: #ffec02;
$textColor: #ffec02;
$activeColorDesk: #ffec02;
$activeColorMob: #c4132f;
$colorMenuMob: #aeaeae;
$footerColor: #472380;
$colorPlaceholder: #9b9b9b;
$errorColor: #ff415f;

// Colors bg
$headerBg: rgba(#06438d, .6);
$popupsBg: rgba(#06438d, .8);
$mainBlock: rgba(#000000, .5);
$darkerBlock: rgba(#000000, .75);
$lighterBlock: rgba(#000000, .25);
$bgRules: #0a1943;
$bgInfo1: #004598;
$bgInfo2: #3f79bd;
$bgInfo3: #122764;
$bgMobTitle: #c4132f;
$bgChecked1: #c4132f;
$bgChecked2: #0173ba;
$errorBg: #ffbfc9;

// Btn colors
$btnColor: #c4132f;
$btnBorder: #891023;
$btnShadow: 0 10px 5px rgba(0, 0, 0, .5);
$btnHover: #891023;
$btnHeader: rgba(#000000, .25);

// Scroll colors
$scrollLine: rgba(#ffffff, .4);

// Media 
$screen-xs-max: 480px;
$screen-sm-max: 767px;
$screen-md-max: 992px;
$screen-lg-max: 1280px;
$screenH-sm-max: 800px;
$screen-md-min: 993px;
$screenForNotebook-sm-max: 750px;
$screen-lg-min: 1281px;
$screenForNotebook-md-max: 920px;

